# Virtual Environment
sprint3/
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/
.coverage
htmlcov/